[Unit]
Description=Update upcoming codeforces contest
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/sumit/.config/polybar/scripts/contests/fetchContestsData.py

[Install]
WantedBy=update-contests.timer
